.saswp-not-found{
  text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
}
.saswp-not-found a{
  margin-left: 10px;
}
.saswp-divider-vertical{
border: 1px solid #eaedf3;
height: 100%;
width: fit-content;
}
.form-check.toggle .form-check-input:checked + .form-check-label:before {
    background: var(--success) !important;
    border-color: var(--success) !important;
}

.saswp-heading-top{
display: inline-block;
width: 100%;    
}
.saswp-heading-top div:nth-child(1){    
position: relative;
}
.saswp-more-action{
    position: relative;
    cursor: pointer;
}
.saswp-more-action i{
  float: right;
}
.saswp-date-container{
position: relative;
}
.saswp-date-picker{
position: absolute;
}
.saswp-table input{
width: 100%;
}
.saswp-table select{
width: 100%;
}
.saswp-table textarea{
width: 100%;
}
.saswp-table{
width:100%;
}
.saswp-table td{
padding: 7px;
vertical-align: top;
}
.saswp-heading-top div:nth-child(1) p{
top: -8px;
right: -60px;
position: absolute;
}
.saswp-heading-top div:nth-child(1){
float: left;
}
.saswp-heading-top div:nth-child(2){
float: right;
}
.saswp-sub-menu{
display:contents;  
}
.saswp-sub-menu li{
padding-left:20px !important;
}
.saswp-upgrade-btn{
margin-right: 15px !important;
padding: 9px !important ;
}
ul *:not(:last-child),
ol *:not(:last-child) {
  margin-bottom: 0px !important; 
}
.saswp-main-nav-panel{
  float: left;
}
.saswp-main-nav-content{
  width: 76%;
  float: right;
}
.saswp-divider-horizontal{
    height: 1px;
    width: 100%;
    background: #414142;
}
.saswp-main-nav-panel .nav-section{
  padding-bottom: 70px;
}
.saswp-upgrade-btn{
  margin: 0 30px;
}
.saswp-main-nav-panel .nav-title{
  display: flex;
}
.saswp-main-nav-panel .nav-title img{
  margin-right: 3px;
}
.saswp-selected-place{
  background: aqua; 
  background: #e9f2ea;    
  border-radius: 20px;
  padding: 7px;
  font-size: 12px;
  color:#000000;
  font-weight: 500;
  box-shadow: green;
  box-shadow: 0 1px 1px #c7ccc8;
  margin: 4px;
  display: inline-block;
}
#saswp-home-page{
  margin-top: 20px;
  margin-right: 20px;
}
.saswp-not-found{
  text-align: center;
  padding: 20px;
}