/** Badges CSS **/
.saswp-rd3-warp ul{
  padding:0px;
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  grid-gap: 50px;
  list-style-type:none;
}
.saswp-rd3-warp li{
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}
.artl-cnt .saswp-rd3-warp li{
  padding:0px;
}
.artl-cnt .saswp-rd3-warp li:before{
  display:none;
}
.saswp-rd3-warp li a{
  text-decoration:none;
}
.saswp-rv-lg-txt{
  background: #ededed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 8px;
}
.saswp-rv-lg-txt amp-img{
  max-width:25px;
  max-height:25px;
  border-radius: 100px;
}
.saswp-rv-lg-txt h4{
  margin:0;
  font-size:25px;
  line-height:1.4;
  color:#333;
  font-weight:400;
}
.saswp-rv-lg-txt span{
  line-height: 0;
  margin-right: 10px;
}
.saswp-rv-rtng{
  padding:20px;
}
.saswp-rtng-txt{
  display: flex;
  align-items: center;
  line-height: 0;
  width: 100%;
  margin-bottom:10px;
}
.saswp-bsd-rv{
  color: #999;
  font-size: 15px;
}
.saswp-rtng-txt .saswp-rt-num{
  color: #666;
  margin-right: 10px;
  font-size: 20px;
  width:30px;
}

@media(max-width:800px){
  .saswp-rd3-warp ul{
    grid-template-columns:1fr 1fr;
    grid-gap: 20px
  }

}

@media(max-width:600px){
  .saswp-rd3-warp ul{
    grid-template-columns:1fr;
  }

}