/** Badges CSS **/
.saswp-rd3-warp ul{
  padding:0px;
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  grid-gap: 50px;
  list-style-type:none;
}
.saswp-rd3-warp li{
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}
.saswp-rd3-warp li a{
  text-decoration:none;
}
.saswp-rv-lg-txt{
  background: #ededed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 8px;
}
.saswp-lg svg{
  width:20px;
  height:20px;
}
.saswp-lg.saswp-fb svg{
  width:22px;
  height:22px;
  background:#3c5b9b;
  border-radius:100px;
  padding:2px;
}
.saswp-rv-lg-txt h4{
  margin:0;
  font-size:25px;
  line-height:1.4;
  color:#333;
  font-weight:400;
}
.saswp-lg{
  line-height: 0;
  margin-right: 10px;
}
.saswp-rv-rtng{
  padding:20px;
}
.saswp-rtng-txt{
  display: flex;
  align-items: center;
  line-height: 0;
  width: 100%;
  margin-bottom:10px;
}
.saswp-rtng-txt .saswp-rt-num{
  color: #666;
  margin-right: 10px;
  font-size: 20px;
}
.saswp-rtng-txt .saswp-stars svg {
  width: 20px;
  height: 20px;
  margin: 0 6px 0 0;
  vertical-align: middle;
}
.saswp-bsd-rv{
  color: #999;
  font-size: 15px;
}
.saswp-stars.saswp-rd3-yrw svg {
    width: 106px;
    height: 20px;
}
.yrw-stars-1f, .yrw-stars-2f, .yrw-stars-3f, .yrw-stars-4f, .yrw-stars-0h, .yrw-stars-1h, .yrw-stars-2h, .yrw-stars-3h{
  fill:#f15c4f;
}
.yrw-rating{
  fill:#ccc;
}