/** Slider Design CSS **/

.saswp-coll-rv-d li {
  list-style-type: none;
}
.saswp-rd2-quote svg{
  width: 20px;
  fill: #bbb;
  position: absolute;
  height: 30px;
  top: 15px;
  left: 12px;
}
.saswp-rd2-box {
  padding: 20px 40px 20px 40px;
  background-color: #fafafa;
  position: relative;
  color: #777;
  border: 1px solid #ededed;
  border-radius: 4px;
  box-sizing: border-box;
}
.amp-carousel-slide .saswp-rd1-cnt{
  margin:0px;
  display: inline-block;
  width: 100%;
  clear: both;
}
.amp-carousel-slide .saswp-rd1-stars{
  display: inline-block;
  width: 100px;
  float: left;
}
.amp-carousel-slide .saswp-rd2-box:before {
  position: absolute;
  bottom: -8px;
  left: 35px;
  display: block;
  width: 14px;
  height: 14px;
  border: 1px solid #ededed;
  border-top: none;
  border-left: none;
  background-color: #fafafa;
  content: "";
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.amp-carousel-slide .saswp-rd1-data{
  padding: 20px;
}
.amp-carousel-slide .saswp-rd1-athr amp-img {
  float: left;
  margin-right: 10px;
  border-radius: 100px;
  max-width: 56px;
  height: 56px;
}
.amp-carousel-slide .saswp-rd1-rv-lg amp-img{
  max-width:25px;
  height:25px;
}
.carousel-preview{
  text-align:center;
}
.carousel-preview button{
  width:12px;
  height:12px;
  border-radius:100px;
  border:none;
  margin:0px 5px;
  cursor: pointer;
  background:#ccc;
}
.carousel-preview button.active{
  background:#0071a1;
}