/** Badges CSS **/
.saswp-r3 ul{
  padding:0px;
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  grid-gap: 50px;
  list-style-type:none;
}
.saswp-r3 li{
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}
.artl-cnt .saswp-r3 li{
  padding:0px;
}
.artl-cnt .saswp-r3 li:before{
  display:none;
}
.saswp-r3 li a{
  text-decoration:none;
}
.saswp-r3-lg{
  background: #ededed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 8px;
}
.saswp-r3-lg amp-img{
  max-width:25px;
  max-height:25px;
  border-radius: 100px;
}
.saswp-r3-lg .saswp-r3-tlt{
  font-size:20px;
  line-height:1.4;
  color:#333;
  font-weight:400;
}
.saswp-r3-lg span{
  line-height: 0;
  margin-right: 10px;
}
.saswp-r3-rtng{
  padding:20px;
}
.saswp-r3-rtxt{
  display: flex;
  align-items: center;
  line-height: 0;
  width: 100%;
  margin-bottom:10px;
}
.saswp-r3-brv{
  color: #999;
  font-size: 15px;
}
.saswp-r3-rtxt .saswp-r3-num{
  color: #666;
  margin-right: 10px;
  font-size: 20px;
  width:30px;
}

@media(max-width:800px){
  .saswp-r3 ul{
    grid-template-columns:1fr 1fr;
    grid-gap: 20px
  }

}

@media(max-width:600px){
  .saswp-r3 ul{
    grid-template-columns:1fr;
  }

}