/** Review Design 1 **/

.saswp-grid-pagination{
     display: inline-block;
     padding: 20px;
}
.saswp-grid-pagination a{
      color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
.saswp-grid-pagination a.active {
  background-color: #4CAF50;
  color: white;
}
.saswp-grid-pagination a:hover:not(.active) {
    background-color: #ddd;
}
.saswp-r1 ul{
  padding:0px;
  list-style-type:none;
  display:grid;
  width:100%;
  grid-template-columns:1fr 1fr 1fr;
  grid-gap:15px;
}
.saswp-r1 li{
  padding:20px;
  position: relative;
  color: #777;
  border: 1px solid #ededed;
  background-color: #fafafa;
  border-radius: 4px;
}
.artl-cnt .saswp-r1 li:before, .saswp-r1 li:before{
  display:none;
}
.saswp-grid-scroll{
  overflow-x:scroll;
}
.saswp-grid-scroll-hidden{
  overflow-x: hidden;
}
.saswp-rc{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}
.saswp-rc .saswp-rc-lg{
  position: absolute;
  right: 0;
}
.saswp-r1-aimg amp-img{
  float: left;
  max-width: 56px;
  min-height: 56px;
  max-height: 56px;
  margin-right: 10px;
  border-radius: 100px;
}
.saswp-rc-lg amp-img{
  max-width:20px;
  height:20px;
  border-radius:100px;
}
.saswp-rc-nm a{
  text-decoration: none;
  color: #427fed;
  font-size: 16px;
  font-weight:600;
  display: inline-block;
  line-height: 1.1;
  letter-spacing: 0;
  width:80%;
}
.saswp-rc-dt{
  margin-top:5px;
  font-size:12px;
  line-height:1.2;
  color:#999;
  display:block; 
}
.saswp-rc-a{
  flex: 1 0 85%;
  display: flex;
  justify-content: flex-start;
}
.saswp-rc-nm{
  width:100%;
  line-height: 1.3;
}
.saswp-rc-cnt{
  position: static;
  height: 100px;
  overflow-y: auto;
  font-size: 14px;
  line-height:1.6;
  text-align: left;
  padding: 0 2px 0 0;
  margin: 10px 0 0;
  box-sizing: border-box;
}
.saswp-rc-cnt p{
  margin:0;
}
.saswp-r1 li::-webkit-scrollbar {
  width: 4px ;
  display:inline-block;
}
.saswp-r1 li::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px ;
  border-radius: 10px ;
  background: #ccc ;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5) ;
}
.saswp-r1 li::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

@media(max-width:767px){
  .saswp-r1 li {
    padding: 13px;
  }
  .saswp-r1 ul{
    grid-template-columns: 1fr;
  }

}