/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 27, 2018, 5:36:26 PM
    Author     : Magazine3
*/
.saswp_hide{
    display: none;
}
.saswp-general table th{
    width: auto;
    font-weight: 600;
    padding: 0px;
} 
.saswp-general table{
    margin-top: 0px;   
} 
.saswp-general table td{
    padding: 5px;   
} 
.saswp-knowledge table th{    
    width: auto;
    padding: 0px;
}
.saswp-knowledge table{
    margin-top: 0px;   
} 
.saswp-knowledge table td{
    padding: 5px;   
} 
.saswp-schema table th{    
    width: auto;
    padding: 0px;
}
.saswp-schema table{
    margin-top: 0px;   
} 
.saswp-schema table td{
    padding: 5px;   
}
.saswp-amp table th{    
    width: auto;
    padding: 0px;
}
.saswp-amp table{
    margin-top: 0px;   
} 
.saswp-amp table td{
    padding: 5px;   
}
.saswp-help table th{    
    width: auto;
    padding: 0px;
}
.saswp-support table th{    
    width: auto;
    padding: 0px;
}
.saswp-help table{
    margin-top: 0px;   
} 
.saswp-help table td{
    padding: 5px;   
}
.saswp-settings-list{
    display:inline-block;
    width:100%
}
.saswp-settings-list li{
    padding:15px;
    padding-left:0px;
}
.saswp-settings-list li div label{
    font-weight: 600;
}
.saswp-general h2{
    margin-bottom: 0px;
}
.saswp-knowledge h2{
    margin-bottom: 0px;
}
.saswp-schema h2{
    margin-bottom: 0px;
}
.saswp-help h2{
    margin-bottom: 0px;
}
.saswp-settings-form p.submit{
    margin-top:0px;
}
.saswp_qanda_p{
    font-weight: 500;
}
.saswp-display-none{
display: none !important;    
}
.saswp-placement-groups{
    border: 1px solid #e5e5e5;
}
.saswp-query-success{
    color: #006600;
}
.saswp-query-error{
    color: #bf3322;
}

.saswp-tools table th{    
    width: auto;
    padding: 0px;
}
.saswp-tools table{
    margin-top: 0px;   
} 
.saswp-tools table td{
    padding: 5px;   
}
.saswp-tools-field-title strong{
    padding-right: 130px;
}
.saswp-error{
    color: #ff0000 !important;
}
/*
Tooltip css starts here

*/
.saswp-tooltip {
    position: relative;
    display: inline-block;   
}
.saswp-tooltip .saswp-tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}
.saswp-tooltip:hover .saswp-tooltiptext {
    visibility: visible;
}

.saswp-tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 10%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

/*
Tooltip css ends here

*/
.saswp-knowledge-base .saswp-knowledge-label{
    width:200px;
    float:left;
    clear: both;
}
.saswp-knowledge-base .saswp-knowledge-field{
    width:75%; 
    float:right;
}
.saswp-social-fileds ul{
       display: grid;
       grid-template-columns: 247px  1fr;
}
.saswp-social-fileds li{
       display: flex;    
}
.saswp-social-fileds .saswp-knowledge-field{
    width: 100%;
}
.saswp-social-fileds .saswp-knowledge-field input{
    float: right;
    margin: inherit;
}
.saswp-schema-type-fields .saswp-knowledge-label{
    width:200px;
    float:left;
    clear: both;
}
.saswp-schema-type-fields .saswp-knowledge-field{
    width:75%; 
    float:right;
}
.saswp-feedback-panel{
    height: 200px;
    width: 280px;
    background: #ffffff;
    float: right;
    top: 20px;   
    margin-top: 2px;
    position: absolute;
    right: 20px;        
}
.saswp-feedback-panel ul{
    list-style-type: circle;
    list-style:decimal;
    padding-left: 30px;
    font-size: 15px;
    
}
.saswp-feedback-panel a{
    text-decoration: none;
    
}
.saswp-feedback-panel h2{
    text-align: center;
    
}
.saswp-social-sharing-buttons {
    text-align: center;
}
.saswp-knowledge-base .saswp-settings-list{
    width: 90%;
}
.saswp-social-fileds .saswp-settings-list{
   width: 90%;
}
.saswp-schema-type-fields .saswp-settings-list{
   width: 90%;
}
.saswp-help{
    width: 76%;
}
.saswp-support{
  width: 76%;  
}
#fb-share-button {
    background: #3b5998;
    border-radius: 3px;
    font-weight: 400;
    margin-right: 15px;
    display: inline-block;
    position: static;
    height: 18px;
}
#fb-share-button:hover {
    cursor: pointer;
    background: #213A6F
}

#fb-share-button svg {
    width: 18px;
    fill: white;
    vertical-align: middle;
    border-radius: 2px
}

#fb-share-button span {
    vertical-align: middle;
    color: white;
    font-size: 14px;
    padding: 0 3px
}
.twitter-share-button{
    background: #1b95e0 !important;
    box-shadow: 0 0px 0 #1b95e0 !important;
    color:#fff !important;
    line-height: 20px !important;
    height: 21px !important;
    border-radius: 3px
}
