/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 27, 2018, 5:36:26 PM
    Author     : Magazine3
*/
.saswp_hide{
    display: none;
}
.saswp-general table th{
    width: auto;
    font-weight: 600;
    padding: 0px;
} 
.saswp-general table{
    margin-top: 0px;   
} 
.saswp-general table td{
    padding: 5px;   
} 
.saswp-knowledge table th{    
    width: auto;
    padding: 0px;
}
.saswp-knowledge table{
    margin-top: 0px;   
} 
.saswp-knowledge table td{
    padding: 5px;   
} 
.saswp-schema table th{    
    width: auto;
    padding: 0px;
}
.saswp-schema table{
    margin-top: 0px;   
} 
.saswp-schema table td{
    padding: 5px;   
}
.saswp-amp table th{    
    width: auto;
    padding: 0px;
}
.saswp-amp table{
    margin-top: 0px;   
} 
.saswp-amp table td{
    padding: 5px;   
}
.saswp-help table th{    
    width: auto;
    padding: 0px;
}
.saswp-support table th{    
    width: auto;
    padding: 0px;
}
.saswp-review table th{    
    width: auto;
    padding: 0px;
}
.saswp-help table{
    margin-top: 0px;   
} 
.saswp-help table td{
    padding: 5px;   
}
.saswp-settings-list{
    display:inline-block;
    width:100%
}
.saswp-settings-list li{
    
    padding-left:0px;
    display: contents;
}
.saswp-settings-list li div label{
    font-weight: 600;
}
.saswp-general h2{
    margin-bottom: 0px;
}
.saswp-knowledge h2{
    margin-bottom: 0px;
}
.saswp-schema h2{
    margin-bottom: 0px;
}
.saswp-help h2{
    margin-bottom: 0px;
}
.saswp-settings-form p.submit{
    margin-top:0px;
}
.saswp_qanda_p{
    font-weight: 500;
}
.saswp-display-none{
display: none !important;    
}
.saswp-placement-groups{
    border: 1px solid #e5e5e5;
}
.saswp-query-success{
    color: #006600;
}
.saswp-query-error{
    color: #bf3322;
}

.saswp-tools table th{    
    width: auto;
    padding: 0px;
}
.saswp-tools table{
    margin-top: 0px;   
} 
.saswp-tools table td{
    padding: 5px;   
}
.saswp-tools-field-title strong{
    padding-right: 130px;
}
.saswp-tools .saswp-tooltip{
    width: 230px;
}
.saswp-error{
    color: #ff0000 !important;
}
/*
Tooltip css starts here

*/
.saswp-tooltip {
    position: relative;
    display: inline-block;   
}
.saswp-tooltip .saswp-tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -25px;
}
.saswp-tooltip:hover .saswp-tooltiptext {
    visibility: visible;
}

.saswp-tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 10%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

/*
Tooltip css ends here

*/
.saswp-knowledge-base .saswp-knowledge-label{
    width:200px;
    float:left;
    clear: both;
    
}
.saswp-knowledge-base .saswp-knowledge-field{
    width:75%; 
    float:right;
}

.saswp-social-fileds ul{
       display: grid;
       grid-template-columns: 26.5%  1fr;
}
.saswp-social-fileds li{
       display: flex;    
}
.saswp-social-fileds .saswp-knowledge-field{
    width: 100%;
    margin-left: 10px;
}
.saswp-social-fileds .saswp-knowledge-field input{
    float: right;
    margin: inherit;
}
.saswp-schema-type-fields .saswp-knowledge-label{
    width:200px;
    float:left;
    clear: both;
}
.saswp-schema-type-fields .saswp-knowledge-field{
    width:75%; 
    float:right;
}
.saswp-settings-first-div{
    width: 70%;
}
.saswp-settings-container{
    display: inline-flex;
    width: 100%;
}
.saswp-settings-second-div{
    float: right; 
    position: relative;
    top: 20px;
    margin-right: 30px;
    margin-top: 37px;
}
.saswp-feedback-panel{
    height: 200px;
    width: 280px;
    background: #ffffff;    
    position: relative;
  
}
.saswp-start-quck-setup{
   position: relative;
   float: inherit;
   top: 7px;
   left:15px;
}
.saswp-feedback-panel ul{
    list-style-type: circle;
    list-style:decimal;
    padding-left: 30px;
    font-size: 15px;
    
}
.saswp-feedback-panel a{
    text-decoration: none;
    
}
.saswp-feedback-panel h2{
    text-align: center;
    padding-top: 18px;
    
}
.saswp-social-sharing-buttons {
    text-align: center;
    padding-top: 20px;
    
    
}
.saswp-facebook-share{
    background: #3B5998;
    box-shadow: 0 0px 0 #1b95e0 !important;
    color: #fff !important;
    line-height: 20px !important;
    height: 21px !important;
    border-radius: 3px;
    margin-right: 5px;
}
.saswp-social-sharing-buttons a{
    text-align: center;
    padding: 8px;
    
    
}
.twitter-share-button{
    background: #1b95e0 !important;
    box-shadow: 0 0px 0 #1b95e0 !important;
    color:#fff !important;
    line-height: 20px !important;
    height: 21px !important;
    border-radius: 3px;
    margin-left: 5px;
    
}
.saswp-placement-button{
    padding: 3px 10px; 
    color: #0d0d0d; 
    font-size: 14px; 
    border: 1px solid #aaa; 
    border-radius: 2px; 
    background: linear-gradient(#ededed, #ffffff);
}
.saswp-placement-table td {
    padding: 5px 10px !important;
}
.saswp-archive-div .saswp-knowledge-field{
float: right;
width: 75%;
padding-bottom: 10px;
}
.saswp-archive-div .saswp-knowledge-label{
float:left;
clear: both;
}

.saswp-amp .saswp-knowledge-field{
float: right;
width: 75%;
padding-bottom: 10px;
}
.saswp-amp .saswp-knowledge-label{
float:left;
clear: both;
}

.saswp-review .saswp-knowledge-field{
float: right;
width: 75%;
padding-bottom: 10px;
}
.saswp-review .saswp-knowledge-label{
float:left;
clear: both;
}

.saswp-compativility-div .saswp-knowledge-field{
float: right;
width: 75%;
padding-bottom: 10px;
}
.saswp-compativility-div .saswp-knowledge-label{
float:left;
clear: both;
}
.saswp-compativility-div li {
    display: inline-flex;
}
.saswp-seller-div .saswp-knowledge-label{
    float: left;
    width: 230px;
    clear: both;
}
.saswp-seller-div .saswp-knowledge-field{
    float: left;
    width: 70%;   
}
.saswp-post-specific-tab-wrapper{
   display: inline-block;
    width: 25%;
    vertical-align: top; 
    
}
.saswp-post-specific-container{
    display: inline-block;
    width: calc(75% - 1px );
    border-left: 1px solid #eee;       
}
.saswp-post-specific-wrapper{
    padding: 10px;
}
.saswp-tab a.selected {
    background-color: #ccc;
}
.saswp-tab-links{
    display: block;
    background-color: inherit;
    color: black;
    padding: 10px 16px;    
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;  
}
.saswp-star-rating{
    cursor: pointer;
}
.saswp-post-specific-wrapper select{
    width: 100%;
}
.saswp-review-tables{
    width: 100%;
}
.saswp-over-all-raring{
    float: right;
}

.saswp-review-pros-and-cons{
    position: relative;
    clear:both;
}
.saswp-review-pros-and-cons > div:first{
    padding-left: 10px;
}
.saswp-review-pros-and-cons > div{
    width: 49%;
    display: inline-block;
}
.saswp-review-pros-and-cons > div:nth-child(2){
    padding-left: 12px;
}
.saswp-wp-ediot-desc{
    margin-bottom: -23px;
    display: block;   
}
.saswp-review-description{
    margin-top: 40px;
    padding-top: 10px;
    border-top:  1px solid #eee;
}
.saswp-review-pros-and-cons{
    margin-top: 40px;
     padding-top: 10px;
    border-top:  1px solid #eee;
}
.saspw-review-item-list{
    margin-top: 20px;   
    border-top:  1px solid #eee;
}
.saswp-review-item-list-table{
    padding-bottom: 10px;
}
#sasw-review input[type=text] {
    width: 180px;
}
#sasw-review input[type=number] {
    width: 180px;
}
#saswp-review-item-enable{
    width: 10px;
}
.saswp-enable-review-on-post{
    padding-bottom: 10px;
}
.saswp-enable-review-on-post label{
    font-weight: 500;
}
/*
Compatibility tab css starts here
*/
.saswp-compatibility table th{    
    width: auto;
    padding: 0px;
}
.saswp-compatibility .saswp-knowledge-label {
    float: left;
    clear: both;
}
.saswp-compatibility .saswp-knowledge-field {
    float: right;
    width: 75%;
    padding-bottom: 10px;
}
.saswp-schem-type-note{
    color: chocolate;
}
/*
Compatibility tab css ends
*/