.nav-section .description{
    padding: 0 30px;
}
.nav-link-round-circle{
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    margin: 1px 0 -1px 2px;
    padding: 0 5px;
    min-width: 18px;
    height: 18px;
    border-radius: 9px;
    background-color: #ffffff;
    color: #000000 !important;
    font-size: 11px;
    line-height: 1.6;
    text-align: center;
    z-index: 26;
}
