/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 15, 2019, 1:52:02 PM
    Author     : acer
*/
.saswp-event-venue-details, .saswp-event-organizers-details, .saswp-event-performers-details{
    padding-top:15px;
}
.saswp-event-date-fieldset select{
    max-width: 100%;
}