#saswp-lbp-schema-wrapper{
	position: relative;
}

#saswp-lbp-heading h2{
	font-weight: 500;
	background: #f6f6f6;
	padding: 5px;
}

#saswp-lbp-blogs-feed-wrapper:before{
	content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    background: hsla(0, 0%, 70%, .6);
}
.saswp-lbp-blog-feed{
	margin-left: 15px;
	margin-bottom: 25px;
}
.saswp-lbp-blog-heading h3{
	font-weight: 500;
}

.saswp-lbp-blog-content{
	font-size: 14px;
	text-align: justify;
}

.saswp-lbp-blog-time{
	font-size: 11px;
}

.saswp-lbp-blog-feed:before{
	content: "";
    width: 15px;
    height: 15px;
    background-color: #dc0505;
    border-radius: 50%;
    position: absolute;
    margin-left: -22px;
    margin-top: 5px;
}

.saswp-lbp-blog-image img{
	width: 312px;
	height: 312px;
}

.saswp-lbp-blog-image figcaption{
	font-size: 18px;
}

.saswp-lbp-blog-video-embed{
	margin-top: 20px;
}

.saswp-lbp-blog-feed iframe.saswp-youtube-short {
	position:relative!important;
	width:100%!important;
	height: auto!important;
	max-width: 320px!important;
	aspect-ratio: 9/16!important;
	border-radius: 4px;
}